<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>resourcES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
                    <a href="{{ url_for('mall', Name=Name) }}" class="button alt ">器材城</a>
                    <a href="{{ url_for('member_info', Name=Name) }}" class="button alt"> 會員資料  </a>
                    <a href="{{ url_for('lend', Name=Name) }}" class="button special" > 管理出借器材 </a>
				</nav>
                <a href="{{ url_for('home') }}" class="logo">resourcES</a>
				<nav class="right">
					<a href="#" class="button alt">Log out</a>
				</nav>
			</header>

		<!-- Main -->
				<div class="inner">

					<!-- Elements -->
						<h2 id="elements"></h2>
						<div class="row 200%">
							<div class="12u">

								<!-- Table -->
									<h3>正在租用的器材</h3>

									<h4></h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
                                                    <th>器材圖片</th>
													<th>器材名稱</th>
                                                    <th>Rank</th>
													<th>借出日期</th>
													<th>到期時間</th>
                                                    <th>已續借次數</th>
                                                    <th>訂單狀態</th>
                                                    <th>我要續借</th>
												</tr>
											</thead>
											<tbody>
                                                {% for i in range(borrow_list | length) %}
                                                <tr>
                                                    <td><img src={{borrow_list[i][7]}} height=100px width=100px></td>
                                                    {% for j in range(6) %}
                                                        <td>{{borrow_list[i][j]}}</td>
                                                    {% endfor %}
                                                    <td>
                                                    {% if borrow_list[i][8] == 1 %}
                                                    <form action="{{ url_for('borrowing', Name=Name) }}" method="POST">
                                                            <input name='Renewal_flag' type='submit' class='button alt icon fa-check' value='我要續借'></input>
                                                    </form>
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
											</tbody>
										</table>
									</div>

							</div>
							<div class="12u">

									<h3></h3>


							</div>
						</div>

				</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>
