<!doctype html>
<html lang="en">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>resourcES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />


		<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--link css file-->
        <link rel="stylesheet" href="../static/css/status.css">

        <!--jquery confirm-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
        
		<title>ResourcES</title>
   </head>
    <body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
                	<a href="{{ url_for('member',Name=Name) }}" class="logo" style="font-family:Comic Sans MS">Loan History</a>
			    </nav>
                <nav class="right">
                    <a href="#" id="home_button" class="button alt ">回到會員資料</a>
                    <a id="return_lend" href="#" class="button special" > 管理出借器材 </a>
                </nav>
			</header>

		<!--器材城-->
        {% if item_list %}
            {% for i in item_list.keys()%}

                <table id="{{item_list[i][0]}}table" style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                    {% if item_list[i][6] == '訂單已完成'%}
                        <tr>
                            <th>器材照片</th>
                            <th>訂單編號</th>
                            <th>器材名稱</th>
                            <th>可續借次數</th>
                            <th>一次可借用天數</th>
                            <th>注意事項</th>
                            <th>器材編號</th>
                            <th>狀態</th>
			            </tr>

                        <tr>
                            <th>
                                <img class='photo' src={{photo_list[i]}} alt='photo missing' height=100px width=100px>
                            </th>
                   
                            {% for j in item_list[i] %}
                                <th> {{j}} </th>
                            {% endfor %}

                    {% endif %}

		        </table>

            {% endfor %}
        
        {% else %}
            <p>查無資料</p>    

        {% endif %}

 
        <!--img src="./static/equip_img/apple-touch-icon-144x144-precomposed.png" alt="img"-->
        <!--img src="{{ user_img }}" alt="img missing"-->


		<!--select class="custom-select" id="sensor_list">
            <option selected>select department</option>
            {% for i in dept_list %}
                <option value={{i}}>{{dept_list[i]}}</option>
            {% endfor %}
		</select-->		


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <!--jquery confirm-->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

		<!--icons-->
		<script src="https://kit.fontawesome.com/af046df13d.js" crossorigin="anonymous"></script>

		<!--link to javascrip file-->
		<script src="../static/js/status.js"></script>

	</body>
</html>
