<!DOCTYPE HTML>
<!--
	Ion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>resourcES</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/init.js') }}"></script>
		<noscript>
			<link rel="stylesheet"  href="{{ url_for('static', filename='css/skel.css') }}">
			<link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
			<link rel="stylesheet"  href="{{ url_for('static', filename='css/style-xlarge.css') }}">
			
		</noscript>
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1><a href="#">resourcES</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">首頁</a></li>
						<li><a href="member.html">會員功能</a></li>
						<li><a href="./Login/sign_in.html" class="button special">登入</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>This is resourcES</h2>
					<p>整合實驗室資源與學生的平台</p>
					<ul class="actions">
						<li><a href="./Login/sign_in.html" class="button big special">登入</a></li>
						<li><a href="#elements" class="button big alt">進一步了解</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<header class="major">
					<h2>有了它，何須擔心再也借不到器材。</h2>
					<p>三大功能讓你輕鬆上手</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="4u">
							<section class="special box">
								<i class="icon fa-area-chart major"></i>
								<h3>剩下多少，一覽即知。</h3>
								<p>清楚記錄既有的資源數量，方便使用者快速查詢，並即時更新等候人數。</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-refresh major"></i>
								<h3>乖乖排隊，不要插隊。</h3>
								<p>完善的預約系統，以及相對應的懲罰機制，可以維持使用者的品質，讓你可以如期借用到器材。</p>
							</section>
						</div>
						<div class="4u">
							<section class="special box">
								<i class="icon fa-cog major"></i>
								<h3>開放資源，人人開放。</h3>
								<p>提供使用者自行上傳欲出借的器材，讓任何人可以租借，達到共享資源的效果。</p>
							</section>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Two -->
			<section id="two" class="wrapper style2">
				<header class="major">
					<h2>有了型，一切清楚明瞭。</h2>
					<p>結合資料庫運用，提出概念模型</p>
				</header>
				<div class="container">
					<div class="row">
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="{{url_for('static', filename='images/pic01.jpg')}}" alt="" /></a>
								<h3>Schema</h3>
								<p>Schema 是一種用來描述一種結構，是一種對象的集合。透過 schema，可以讓開發人員更清楚的了解，資料庫內資料的儲存方式，這樣未來維護時可以快速了解資料型態。</p>
								<ul class="actions">
									<li><a href="https://zh.wikipedia.org/wiki/綱要_(資料庫)" class="button alt">進一步了解</a></li>
								</ul>
							</section>
						</div>
						<div class="6u">
							<section class="special">
								<a href="#" class="image fit"><img src="{{url_for('static', filename='images/pic02.jpg')}}" alt="" /></a>
								<h3>SQL</h3>
								<p>SQL 用於管理關聯式資料庫管理系統，或在關係流資料管理系統中進行流處理。在 resourcES 中，就是運用了 SQL 來操作我們 resourcES 的資料庫。</p>
								<ul class="actions">
									<li><a href="https://zh.wikipedia.org/wiki/SQL" class="button alt">進一步了解</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>

		<!--
		!-- Three --
			<section id="three" class="wrapper style1">
				<div class="container">
					<div class="row">
						<div class="8u">
							<section>
								<h2>Mollis ut adipiscing</h2>
								<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
								<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
							</section>
						</div>
						<div class="4u">
							<section>
								<h3>Magna massa blandit</h3>
								<p>Feugiat amet accumsan ante aliquet feugiat accumsan. Ante blandit accumsan eu amet tortor non lorem felis semper. Interdum adipiscing orci feugiat penatibus adipiscing col cubilia lorem ipsum dolor sit amet feugiat consequat.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>
							<hr />
							<section>
								<h3>Ante sed commodo</h3>
								<ul class="alt">
									<li><a href="#">Erat blandit risus vis adipiscing</a></li>
									<li><a href="#">Tempus ultricies faucibus amet</a></li>
									<li><a href="#">Arcu commodo non adipiscing quis</a></li>
									<li><a href="#">Accumsan vis lacinia semper</a></li>
								</ul>
							</section>
						</div>
					</div>
				</div>
			</section>			
		-- >	
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row double">
						<div class="6u">
							<h2>開發人員</h2>
							<ul class="alt">
								<li><a href="https://www.facebook.com/kyleyen870216">Kyle Yen</a></li>
								<li><a href="https://www.facebook.com/lydia.huang.18">Lydia Huang</a></li>
								<li><a href="https://www.facebook.com/profile.php?id=100002431937411">Winnie Liu</a></li>
							</ul>
						</div>
						<div class="6u">
							<h2>指導單位</h2>
							<p>本產品為國立成功大學工程科學系 鄧維光教授的資料庫系統。</p>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</footer>

	</body>
</html>