<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>resourcES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
				</nav>
				<a href="index.html" class="logo">intensify</a>
				<nav class="right">
					<a href="#" class="button alt">Log in</a>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>會員資料</h1>
						<p></p>
					</header>

					<hr class="major" />

					<!-- Elements -->
						<h2 id="elements"></h2>
						<div class="row 200%">
							<div class="12u">

								<!-- Table -->
									<h3>Table</h3>

									<h4></h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th></th>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>姓名</td>
													<td>{{Name}}</td>
												</tr>
												<tr>
													<td>學號</td>
													<td>{{Ssn}}</td>
												</tr>
												<tr>
													<td>系所</td>
													<td>{{Dept}}</td>
												</tr>
												<tr>
													<td>Email</td>
													<td>{{Email}}</td>
												</tr>
												<tr>
													<td>違規</td>
													<td>{{Violation}}</td>
												</tr>
											</tbody>
										</table>
									</div>

							</div>
							<div class="12u">

								<!-- Form -->
									<h3>Form</h3>

									<form method="post" action="#">
										<div class="row uniform">
											<div class="9u 12u$(small)">
												<input type="text" name="query" id="query" value="" placeholder="Search equiment" />
											</div>
											<div class="3u$ 12u$(small)">
												<input type="submit" value="Search" class="fit" />
											</div>
										</div>
									</form>
							</div>
						</div>

				</div>
			</section>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>