<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>resourcES</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
                    <a href="{{url_for('mall',Name=Name)}}" class="button alt ">器材城</a>
                    <a id="lend_button" class="button special" > 管理出借器材 </a>
                    <a id="borrow_button" class="button"> 查看租用器材  </a>

				</nav>
                <a href="{{ url_for('member',Name=Name) }}" class="logo">resourcES</a>
				<nav class="right">
                    <a href="#" class="button alt">Log out</a>
				</nav>
			</header>

		<!-- Main -->
				<div class="inner">

					<!-- Elements -->
						<h2 id="elements"></h2>
						<div class="row 200%">
							<div class="12u">

								<!-- Table -->
									<h3>會員資料</h3>

									<h4></h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th></th>
													<th></th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>姓名</td>
													<td>{{Name}}</td>
												</tr>
												<tr>
													<td>學號</td>
													<td>{{Ssn}}</td>
												</tr>
												<tr>
													<td>系所</td>
													<td>{{Dept}}</td>
												</tr>
												<tr>
													<td>Email</td>
													<td>{{Email}}</td>
												</tr>
												<tr>
													<td>違規</td>
													<td>{{Violation}}</td>
												</tr>
											</tbody>
										</table>
									</div>

							</div>
						</div>

				</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

            <script>
                $("#lend_button").click(()=>{
                    var current_loc = window.location.href;
    				var name = decodeURI(current_loc.split('/')[4].split('?')[0]);
    				
    				var temp="";
    				for(i = 0 ; i < current_loc.search('/member') ; i++)
        				temp+=current_loc[i]
    				console.log(temp)
    				window.location.href = temp + "/status/"+name+"?type=lend";
                })

                $("#borrow_button").click(()=>{
                    var current_loc = window.location.href;
    				var name = decodeURI(current_loc.split('/')[4].split('?')[0]);
    				
    				var temp="";
    				for(i = 0 ; i < current_loc.search('/member') ; i++)
        				temp+=current_loc[i]
    				console.log(temp)
    				window.location.href = temp + "/status/"+name+"?type=borrow";
                })
 
            </script>
	</body>
</html>
