<html>
    <head>
        <title>resourcES search</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/search.css') }}" />
	</head>

    <body>
        <div class="wrap">
            <form method="POST">
                <div class="search">
                    <input type="text" class="searchTerm" name = "search_item" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>      
                </div>
            </form>
        </div>
    </body>

</html>
