<!doctype html>
<html lang="en">
    <head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!--link css file-->
        <link rel="stylesheet" href="../static/css/index.css">

		<title>ResourcES</title>
   </head>
    <body>
        {% if item_list %}
            {% for i in item_list.keys()%}

                <table style="border:3px #cccccc solid;" cellpadding="10" border='1'>
                    <tr>
				        <th>器材名稱</th>
                        <th>所屬人</th>
                        <th>可續借次數</th>
                        <th>一次可借用天數</th>
                        <th>注意事項</th>
			        </tr>
                
                    <th> {{i}} </th>
                   
                    {% for j in item_list[i] %}
                        <th> {{j}} </th>
                    {% endfor %}

		        </table>
            {% endfor %}

        {% endif %}

        <!--img src="./static/equip_img/apple-touch-icon-144x144-precomposed.png" alt="img"-->
        <!--img src="{{ user_img }}" alt="img missing"-->

		<select class="custom-select" id="sensor_list">
            <option selected>select department</option>
            {% for i in dept_list %}
                <option value={{i}}>{{dept_list[i]}}</option>
            {% endfor %}
		</select>		


		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<!--icons-->
		<script src="https://kit.fontawesome.com/af046df13d.js" crossorigin="anonymous"></script>

		<!--link to javascrip file-->
		<script src="../static/js/index.js"></script>

	</body>
</html>
